.contact-us-container {
  display: flex;
  background: #f2f2f2;
  font-family: "Nunito Sans";
  padding: 85px 85px 30px;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.info-container {
  display: flex;
  gap: 150px;
  margin-top: 60px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #575757;
}

.text {
  font-size: 14px;
  font-weight: 400;
  color: #575757;
}

.link:hover {
  font-weight: 500;
  color: #1b1b1d;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  gap: 40px;
}

.input {
  border: none;
  border-bottom: #575757 1px solid;
  background: #f2f2f2;
  font-size: 14px;
  color: #575757;
}

.form-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  color: #575757;
}

.name-phone {
  display: flex;
  justify-content: space-between;
}

.name,
.phone {
  width: 45%;
}

.message {
  resize: none;
  height: 150px;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
}

.submit {
  color: #575757;
  margin-top: 10px;
  width: 100px;
  border: #575757 1.5px solid;
  border-radius: 5px;
  background: #f2f2f2;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 60px 0 60px 60px;
}

.image {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 1280px) {
  .contact-us-container {
    padding: 85px calc((100vw - 1280px) / 2 + 85px) 30px;
  }
}

@media only screen and (max-width: 700px) {
  .contact-us-container {
    padding: 70px 30px;
    flex-direction: column;
  }

  .info-container {
    justify-content: space-between;
    gap: 0;
    margin-top: 40px;
  }

  .form-container {
    padding: 40px 0;
    gap: 30px;
  }

  .title,
  .form-title {
    font-size: 14px;
  }

  .text,
  .input {
    font-size: 12px;
  }

  .submit {
    margin-top: 5px;
  }

  .image-container {
    padding: 0;
  }

  .content-container,
  .image-container {
    width: 100%;
  }
}
