.core-value-container {
  display: flex;
  height: 460px;
  padding: 60px 30px 30px;
  font-family: "EB Garamond";
  background: #f2f2f2;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 20px 150px;
}

.background-image {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 15%;
}

.title,
.paragraph,
.contact-us {
  z-index: 3;
}

.title {
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 30px;
}

.paragraph {
  text-align: center;
  font-weight: 400;
  font-size: 19px;
  margin-bottom: 45px;
}

.contact-us {
  font-weight: 300;
  color: black;
  font-size: 20px;
}

@media only screen and (min-width: 1280px) {
  .core-value-container {
    padding: 60px 30px 30px;
  }
}
