.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: #f2f2f2;
  font-family: "Nunito Sans";
}

.info-container {
  display: flex;
  justify-content: space-between;
  height: 190px;
  background: #f2f2f2;
}

.links-container {
  display: flex;
  flex-direction: column;
  width: 172px;
  gap: 5px;
}

.text {
  color: #575757;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 172px;
}

.arsir-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-top {
  cursor: pointer;
}

.social-media {
  display: flex;
  align-items: center;
  padding: 0 85px;
  background: #1b1b1d;
  gap: 10px;
  height: 45px;
}

@media only screen and (min-width: 1280px) {
  .social-media {
    padding: 0 calc((100vw - 1280px) / 2 + 85px);
  }

  .info-container {
    padding: 30px calc((100vw - 1280px) / 2 + 85px);
  }
}
