* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

.owl-nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 50%;
  transform: translateY(-70%);
  color: #575757;
}

.owl-carousel {
  position: relative;
}

.owl-next,
.owl-prev {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background: #f2f2f2 !important;
  border-radius: 20px !important;
}

.owl-next:hover,
.owl-prev:hover {
  background: #f2f2f290 !important;
}
