.carousel-item-container {
  height: 720px;
  background: #171717;
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 1280px;
}

.carousel-image {
  height: 720px;
  width: 1280px;
  object-fit: cover;
}

.fade-cover-right {
  position: absolute;
  height: 100%;
  width: 130px;
  background: linear-gradient(to right, #171717, transparent);
}

.fade-cover-left {
  position: absolute;
  height: 100%;
  width: 130px;
  background: linear-gradient(to left, #171717, transparent);
}

@media only screen and (min-width: 1280px) {
  .fade-cover-right {
    left: calc(((100vw - 1280px) / 2) - 10px);
  }

  .fade-cover-left {
    right: calc(((100vw - 1280px) / 2) - 10px);
  }
}

@media only screen and (max-width: 1280px) {
  .fade-cover-right {
    left: 0;
  }

  .fade-cover-left {
    right: 0;
  }
}
