.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #f2f2f2;
  z-index: 6;
  animation: fadeOut ease 3.3s;
  animation-fill-mode: forwards;
  visibility: visible;
}

.arsir-gif {
  width: 800px;
  height: 800px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.carousel-item-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 1280px;
}

.carousel-image {
  object-fit: cover;
}

@media only screen and (min-width: 1280px) {
  .fade-cover-right {
    left: calc(((100vw - 1280px) / 2) - 10px);
  }

  .fade-cover-left {
    right: calc(((100vw - 1280px) / 2) - 10px);
  }

  .image-container,
  .carousel-image {
    height: auto;
    width: 100vw;
  }
}

@media only screen and (max-width: 1280px) {
  .fade-cover-right {
    left: 0;
  }

  .fade-cover-left {
    right: 0;
  }
}

@media only screen and (max-width: 860px) {
  .arsir-gif {
    width: calc(100vw - 60px);
    height: calc(100vw - 60px);
  }
}
