.carousel-item-container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 137.5px);
  width: auto;
  padding-top: 85px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.carousel-image {
  object-fit: contain;
  max-width: 85%;
}

@media only screen and (min-width: 1280px) {
  .fade-cover-right {
    left: calc(((100vw - 1280px) / 2) - 10px);
  }

  .fade-cover-left {
    right: calc(((100vw - 1280px) / 2) - 10px);
  }

  .image-container,
  .carousel-image {
    height: auto;
    width: 100vw;
  }
}

@media only screen and (max-width: 1280px) {
  .fade-cover-right {
    left: 0;
  }

  .fade-cover-left {
    right: 0;
  }
}
