.project-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background: #f2f2f2;
  padding: 105px 100px 60px;
  font-family: "Nunito Sans";
  gap: 32px;
}

.project-name {
  font-size: 35px;
  font-family: "Nunito Sans";
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}

.project-info {
  display: flex;
  gap: 90px;
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-weight: 600;
}

.info {
  font-weight: 400;
}

.project-images {
  width: 85vw;
  height: auto;
}

.project-link {
  font-size: 16px;
  font-family: "Nunito Sans";
  font-weight: 600;
  font-style: italic;
  color: #1b1b1d;
}

@media only screen and (min-width: 1280px) {
  .project-details-container {
    padding: 105px calc(((100vw - 1280px) / 2) + 100px) 60px;
  }
}

@media only screen and (max-width: 900px) {
  .project-details-container {
    padding: 105px 60px 60px;
  }

  .project-info {
    gap: 35px;
  }
}

@media only screen and (max-width: 700px) {
  .project-details-container {
    padding: 90px 30px 30px;
  }

  .project-info {
    flex-direction: column;
    gap: 40px;
  }
}
