.project-title {
  font-size: 35px;
  font-family: "EB Garamond";
  text-align: center;
  background: #f2f2f2;
  color: #1b1b1d;
  padding-top: 85px;
}

.carousel-item-container {
  height: calc(100vh - 137.5px);
  width: auto;
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 1280px;
}

.carousel-image {
  object-fit: cover;
}

@media only screen and (min-width: 1280px) {
  .fade-cover-right {
    left: calc(((100vw - 1280px) / 2) - 10px);
  }

  .fade-cover-left {
    right: calc(((100vw - 1280px) / 2) - 10px);
  }

  .image-container,
  .carousel-image {
    height: auto;
    width: 100vw;
  }
}

@media only screen and (max-width: 1280px) {
  .fade-cover-right {
    left: 0;
  }

  .fade-cover-left {
    right: 0;
  }
}
