.project-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  background: #f2f2f2;
  padding: 20px 100px;
  font-family: "EB Garamond";
  gap: 32px;
}

.project-name {
  font-size: 35px;
  font-family: "EB Garamond";
  font-weight: 600;
  margin-top: 30px;
}

.project-link {
  font-size: 16px;
  font-family: "EB Garamond";
  font-weight: 600;
  font-style: italic;
  color: black;
}

.project-info {
  display: flex;
  gap: 90px;
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 600;
}

.info {
  font-weight: 400;
}

@media only screen and (min-width: 1280px) {
  .project-details-container {
    padding: 20px calc(((100vw - 1280px) / 2) + 100px);
  }
}
