.thumbnail-wrapper {
  display: flex;
  align-items: center;
  background: #f2f2f2;
}

.thumbnail-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 500px;
  background: #f2f2f2;
  overflow-x: scroll;
}

.thumbnail-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  border-radius: 10px;
  background: rgb(185, 185, 185);
}

.thumbnail-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #464646;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.thumbnail-item {
  min-width: 400px;
  height: 400px;
  background: #1d1d1b;
  margin-right: 15px;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1280px) {
  .thumbnail-wrapper {
    padding: 0 30px 30px;
    /* padding: 30px calc(((100vw - 1280px) / 2) + 30px); */
  }
}
