.thumbnail-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  padding: 30px;
}

.owl-item .active {
  width: 400px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 400px;
  text-decoration: none;
  margin-bottom: 20px;
}

.thumbnail-item {
  flex-direction: column;
  font-family: "Nunito Sans";
  width: 400px;
  height: 400px;
  background: #1d1d1b;
}

.thumbnail-image {
  width: 400px;
  height: 400px;
}

.thumbnail-text {
  position: relative;
  width: 370px;
  bottom: 70px;
  left: 20px;
  font-size: 20px;
  color: white;
  z-index: 3;
  opacity: 0;
}

.thumbnail-cover {
  position: relative;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  width: 400px;
  height: 150px;
  bottom: 210px;
  z-index: 2;
  opacity: 0;
}

.thumbnail-item:hover .thumbnail-text,
.thumbnail-item:hover .thumbnail-cover {
  animation: thumbnailCaption ease 0.3s;
  animation-fill-mode: forwards;
}

@keyframes thumbnailCaption {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 1280px) {
  .thumbnail-wrapper {
    padding: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .thumbnail-text,
  .thumbnail-cover {
    opacity: 1;
  }
}

@media only screen and (max-width: 400px) {
  .content-wrapper {
    width: calc(100vw - 60px);
  }

  .thumbnail-item {
    width: calc(100vw - 60px);
    height: calc(100vw - 60px);
  }

  .thumbnail-image {
    width: calc(100vw - 60px);
    height: calc(100vw - 60px);
  }
}
